_discard
_ignore*
.vscode
core/catalog/repo/*/*-template.json
core/config/alt-reference.json
core/config/config.json
core/functions/New-Session.ps1
core/functions/Restore-TaniumTestLab.ps1
core/functions/Send-HTMLEmail.ps1
core/functions/Set-NewVMCheckpoint.ps1
core/functions/Stop-AllActiveTaniumPatchDeploy
jobqueue/decommissioned/*.json
jobqueue/hold/*.json
logs/deploymentautomation.lo*
*.log